<cdk-virtual-scroll-viewport #viewport itemSize="100"
                             style="height: 100%; width: 100%;"
                             (scrolledIndexChange)="expandIfNecessary()"
>

    <div
            *cdkVirtualFor="let item of dialogList; let i = index; trackBy: trackBy"
    >
        <ng-container [ngSwitch]="item.type">
            <div class="loading" *ngSwitchCase="'loading'">
                <mat-spinner [diameter]="25"></mat-spinner>
            </div>
            <app-dialog *ngSwitchCase="'dialog'"
                        [dialog]="$any(item).dialog"/>
        </ng-container>
    </div>
</cdk-virtual-scroll-viewport>
