<div class="dialog-container">
    <div class="dialog-header">
        <h2 class="dialog-title">search</h2>
    </div>

    <mat-dialog-content>
        <div class="custom-input-wrapper">
            <input class="custom-input" [(ngModel)]="query"
                   placeholder="Type to search..." autofocus>
            <mat-icon class="input-icon">search</mat-icon>
        </div>

        <div class="results-container">
            @if (!results.isLoading() && results.value()?.length) {
                @for (result of results.value(); track result.sequenceNumber) {
                    <app-search-result-item
                            [result]="result"
                            (selected)="onClose()"
                    >
                    </app-search-result-item>
                }
            }

            @if (results.isLoading()) {
                <div class="loading-container">
                    <mat-progress-spinner mode="indeterminate" diameter="48" class="search-dialog-loading"></mat-progress-spinner>
                </div>
            }

            @if (query() && !results.isLoading() && !results.value()?.length) {
                <div class="no-results">
                    no messages found matching "{{ query() }}"
                </div>
            }
        </div>
    </mat-dialog-content>
</div>
