<app-chat-info-bar [roomName]="roomName"
                   [roomAvatar]="roomAvatar"
                   [presence]="presence"
                   [chatId]="chatId | async"/>
<cdk-virtual-scroll-viewport itemSize="50" #viewport class="list my-2" (scrolledIndexChange)="onScrollChanged($event)">
    <div
            *cdkVirtualFor="let item of (messageRows | async | grouping | sentmessages); trackBy: trackByTrackId">
        <ng-container [ngSwitch]="item.type">

            <app-message *ngSwitchCase="'message'" class="mx-3" style="margin-top: 2px"
                         [frame]="$any(item).frame"
                         [send]="$any(item).sent"
                         [mine]="$any(item).mine"
                         [message]="$any(item).message"/>

            <div class="loading" *ngSwitchCase="'loading'">
                <mat-spinner [diameter]="25"></mat-spinner>
            </div>

            <div
                    *ngSwitchCase="'typing'"
                    style="
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 2px;
                        "
                    class="mx-3"
            >
                <div class="message-container"
                     [style.justify-content]="'start'">
                    <app-typing-message [message]="$any(item).typeEvent"></app-typing-message>
                </div>

            </div>

        </ng-container>

    </div>
</cdk-virtual-scroll-viewport>
<app-input-bar [chatId]="chatId | async" [iconId]="preference?.iconId ?? 1"/>

