@if (chatId(); as chatId) {
    <app-chat-info-bar [roomName]="roomName()"
                       [roomAvatar]="roomAvatar()"
                       [presence]="presence()"
                       [chatId]="chatId"/>
}

<cdk-virtual-scroll-viewport itemSize="50" #viewport class="message-list my-2"
                             (scrolledIndexChange)="onScrollChanged($event)">
    <div
            *cdkVirtualFor="let item of (messageRows() | grouping | mymessages); trackBy: trackByTrackId">
        @let row = $any(item);
        @switch (row.type) {
            @case ('loading') {
                <div class="message-loading">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>
            }
            @case ('typing') {
                <div
                        class="mx-3"
                        style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 2px;
                "
                >
                    <div
                            class="message-container"
                            [style.justify-content]="'start'"
                    >
                        <app-typing-message
                                [message]="row.typeEvent">
                        </app-typing-message>
                    </div>
                </div>
            }
            @default {
                @let message = $any(row.message);
                @let sender = $any(message.sender);
                @let frame = row.frame;
                <app-message
                        class="mx-3"
                        style="margin-top: 2px"
                        [frame]="frame">
                    @switch (row.type) {
                        @case ('middle-message') {
                            @switch (message.messageType.toLowerCase()) {
                                @case ('preference') {
                                    <app-preference-message
                                            class="center"
                                            [maker]="sender">
                                    </app-preference-message>
                                }
                                @case ('group') {
                                    <app-group-message
                                            class="center"
                                            [creator]="sender">
                                    </app-group-message>
                                }
                            }
                        }
                        @default {
                            <ng-template #messagetemplate>
                                @switch (message.messageType.toLowerCase()) {
                                    @case ('icon') {
                                        <app-icon-message [iconState]="message"></app-icon-message>
                                    }
                                    @case ('text') {
                                        <app-text-message [textState]="message"></app-text-message>
                                    }
                                    @case ('image') {
                                        <app-image-message [imageState]="message"></app-image-message>
                                    }
                                    @case ('file') {
                                        <app-file-message [fileState]="message"></app-file-message>
                                    }
                                }
                            </ng-template>

                            @switch (row.type) {
                                @case ('left-message') {
                                    <app-left-message
                                            [message]="message"
                                            [frame]="frame"
                                            [contentTemplate]="messagetemplate">
                                    </app-left-message>
                                }
                                @case ('right-message') {
                                    @let myMessageFrame = $any(row.myMessageFrame);
                                    @let sending = $any(row.sending);
                                    <app-right-message
                                            [message]="message"
                                            [frame]="frame"
                                            [send]="sending"
                                            [displaySend]="myMessageFrame.display"
                                            [contentTemplate]="messagetemplate">
                                    </app-right-message>
                                }
                            }
                        }
                    }
                </app-message>
            }
        }

    </div>
</cdk-virtual-scroll-viewport>
@if (chatId(); as chatId) {
    <app-input-bar [chatId]="chatId" [iconId]="preference()?.iconId ?? 1"/>
}
