<div class="avatar-holder">
    @if (frame().position === Position.Single || frame().position === Position.Bottom) {
        <img [src]="message().sender.avatar" alt="">
    }
</div>

<ng-content select="[no-cropped-frame]"></ng-content>

<div
        [ngStyle]="{
                    'overflow': 'hidden',
                    'border-top-left-radius':
                        (frame().position === Position.Single
                      || frame().position === Position.Top)
                        ? '20px'
                        : '3px',

                    'border-top-right-radius': '20px',

                    'border-bottom-right-radius': '20px',

                    'border-bottom-left-radius':
                        (frame().position === Position.Single
                      || frame().position === Position.Bottom)
                        ? '20px'
                        : '3px'
                }"
>
    <ng-content select="[cropped-frame]"></ng-content>

</div>

