:host {
      display: flex;
      flex-direction: row;
      align-items: end;
      gap: 0.5rem;
      margin-right: auto;
}

.avatar-holder {
      width: 30px;
      height: 30px;
}

.avatar-holder img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
}