<div class="dialog-container">
    <div class="dialog-header">
        <h2 class="dialog-title">select icon</h2>
    </div>

    <div class="icon-grid">
        @for (icon of icons | keyvalue; track icon.key) {
            <div class="icon-item" (click)="dialogRef.close(icon.key)">
                <mat-icon [svgIcon]="icon.value"></mat-icon>
            </div>
        }
    </div>

    <div class="dialog-actions">
        <button mat-button class="btn-cancel" (click)="onNoClick()">Cancel</button>
    </div>
</div>
