<div class="partner-container">
    <app-avatar-container [presence]="presence()"
                          [chatId]="chatId()"
                          [avatar]="roomAvatar()"
                          [size]="44"/>
    <div class="partner-info">
        <span class="room-name">{{ roomName() }}</span>
        @if (diffOnline < ONE_HOUR_SECONDS) {
            <span class="room-presence">
                {{
                    diffOnline >= ONE_MINUTE_SECONDS ?
                        'Active ' + Math.floor((diffOnline + ONE_MINUTE_SECONDS - 1) / ONE_MINUTE_SECONDS).toString() + 'm ago'
                        : 'Active now'
                }}
            </span>
        }
    </div>
</div>

<div class="actions">
    <button class="icon-btn search-message" (click)="openSearchDialog()" aria-label="Search messages">
        <span class="material-icons">search</span>
    </button>
    <button class="icon-btn" aria-label="Information">
        <span class="material-icons">info_outline</span>
    </button>
    @if (preference.value(); as preference) {
        <app-chat-setting [chatId]="chatId()"
                          [preference]="preference"></app-chat-setting>
    }
</div>
