<div class="partner-container">
    <app-avatar-container [presence]="presence"
                          [chatId]="chatIdSubject | async"
                          [avatar]="roomAvatar"
                          size="40"/>
    <div class="partner-info">
        <span class="room-name">{{ roomName }}</span>
        <span class="room-presence" *ngIf="diffOnline < ONE_HOUR_SECONDS">{{
                diffOnline >= ONE_MINUTE_SECONDS ?
                    'Online ' + Math.floor((diffOnline + ONE_MINUTE_SECONDS - 1) / ONE_MINUTE_SECONDS).toString() + ' minutes ago'
                    : 'Online'
            }}</span>
    </div>
</div>

<div class="d-flex gap-1 align-items-center">
    <button mat-icon-button aria-label="Search" *ngIf="(chatIdSubject | async) as _chatId"
            (click)="openSearchDialog(_chatId)">
        <mat-icon>search</mat-icon>
    </button>
    <mat-icon>info</mat-icon>
    <app-chat-setting [chatId]="chatIdSubject | async"
                      [preference]="preference | async"></app-chat-setting>
</div>
