<div class="avatar-wrapper" [style.width.px]="size()" [style.height.px]="size()">
    <img [ngSrc]="avatar() || 'https://i.pinimg.com/webp/1200x/e7/70/51/e77051136cf95616fcb83bbd3f338c93.webp'" 
         alt=""
         [width]="size()" 
         [height]="size()"
         class="avatar-img">

    @if (!showBadge()) {
        <div class="status-indicator" 
             [class.online]="timeStatus() === 0"
             [style.font-size.rem]="timeStatus() ? 0.6 : 0">
            {{ timeStatus() ? timeStatus() + 'm' : '' }}
        </div>
    }
</div>