.send-state {
      color: grey;
      margin: 0.25rem 1rem;
      font-size: 0.8rem;
}

.error {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      color: var(--mat-sys-error);
}

:host {
      display: flex;
      flex-direction: column;
      align-items: end;
}

img.seen {
      border-radius: 50%;
      width: 15px;
      object-fit: cover;
      height: 15px;
}


.seen-div {
      display: flex;
      align-items: center;
      gap: 0.2rem;
}