@if (message().messageType.toLowerCase() === 'icon') {
    <ng-container *ngTemplateOutlet="contentTemplate()"></ng-container>
} @else {
    <div class="message-bubble"
         [ngStyle]="{
              'border-top-left-radius':  '18px',
              'border-top-right-radius': (frame().position === Position.Single || frame().position === Position.Top) ? '18px' : '4px',
              'border-bottom-right-radius': (frame().position === Position.Single || frame().position === Position.Bottom) ? '18px' : '4px',
              'border-bottom-left-radius':  '18px'
         }">
        <ng-container *ngTemplateOutlet="contentTemplate()"></ng-container>
    </div>
}

@if (displaySend()) {
    @switch (sendState()) {
        @case (SendState.Error) {
            <span class="error">Error sending message</span>
        }
        @case (SendState.Pending) { <span class="send-state">Pending</span> }
        @case (SendState.Sending) { <span class="send-state">Sending...</span> }
        @case (SendState.Sent) { <span class="send-state">Sent</span> }
        @case (SendState.Received) { <span class="send-state">Received</span> }
    }
}

<div class="seen-div">
    @for (seen of displaySeenBy; track seen.id) {
        <img class="seen" [src]="seen.avatar" [alt]="'Avatar of ' + seen.name">
    }
</div>
