@if (message().messageType.toLowerCase() === 'icon') {
    <ng-container *ngTemplateOutlet="contentTemplate()"></ng-container>
} @else {
    <div [ngStyle]="{
              'overflow': 'hidden',
              'border-top-left-radius':  '20px',
              'border-top-right-radius': (frame().position === Position.Single || frame().position === Position.Top) ? '20px' : '3px',
              'border-bottom-right-radius': (frame().position === Position.Single || frame().position === Position.Bottom) ? '20px' : '3px',
              'border-bottom-left-radius':  '20px',
    }">
        <ng-container *ngTemplateOutlet="contentTemplate()"></ng-container>
    </div>
}

@if (displaySend()) {
    @switch (send()?.sendState) {

        @case (SendState.Error) {
            <span class="error">
            {{ $any(send()).reason }}
        </span>
        }
        @case (SendState.Pending) {
            <span class="send-state">
            Pending
        </span>
        }
        @case (SendState.Sending) {
            <span class="send-state">
            Sending
        </span>
        }
        @case (SendState.Sent) {
            <span class="send-state">
            Sent
        </span>
        }

    }
}

<div class="seen-div">
    @for (seen of displaySeenBy; track seen.id) {
        <img class="seen mt-2" [src]="seen.avatar">
    }
</div>
