<div class="partner-container">
    <app-avatar-container [onlineAt]="onlineAt" [conversation]="conversation" size="40px"/>
    <div class="partner-info">
        <span class="partner-name">{{ conversation.partner.name }}</span>
        <span class="partner-status" *ngIf="diffOnline < ONE_HOUR_SECONDS">{{
                diffOnline >= ONE_MINUTE_SECONDS ?
                    'Online ' + Math.floor((diffOnline + ONE_MINUTE_SECONDS - 1) / ONE_MINUTE_SECONDS).toString() + ' minutes ago'
                    : 'Online'
            }}</span>
    </div>
</div>

<div class="d-flex gap-1 align-items-center">
    <mat-icon>info</mat-icon>
    <app-chat-setting [chat]="chat"></app-chat-setting>
</div>
