<div class="panel rounded py-5 px-5">
    <div class="auth-progress" [ngStyle]="{
        '--before-width': progress() == 'info'? '0%' : '100%'
    }">
        <h2 class="auth-p1 auth-p-reached">1</h2>
        <h2 class="auth-p2" [ngClass]="{'auth-p-reached': progress() == 'avatar'}">2</h2>
    </div>
    @if (error()) {
        <div class="error-banner" role="alert">
            <span class="material-icons">error_outline</span>
            {{ error() }}
        </div>
    }
    @switch (progress()) {
        @case ('info') {
            <app-sign-up-info (next)="onCompleteInfo($event)"/>
        }
        @case ('avatar') {
            <app-sign-up-avatar (next)="onCompleteAvatar($event)"/>
        }
    }
</div>



